* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 18px;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 48px;
  line-height: 50px;
}
h3 {
  font-size: 24px;
  line-height: 28px;
}

a {
  display: block;
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  outline: auto;
  cursor: pointer;
}
span {
  display: block;
}
input {
  border: none;
  outline: none;
  font-weight: 500;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  font-weight: 700;
  border-radius: 60px;
}

/* Header */
.header-1 {
  background-image: url(../img/header-bg1.jpg);
}
.common-header {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 46px;
  padding-bottom: 17px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__wrap {
  display: flex;
  align-items: center;
}
.header__menu {
  display: flex;
  align-items: center;
  margin-right: 35px;
}
.header__item {
  margin-right: 26px;
}
.header__item-link {
  color: #000;
  transition: 0.1s;
  font-weight: 400;
}
.header__item-link:hover {
  color: #0066b7;
  transform: scale(1.03);
}
.header__phone {
  margin-right: 66px;
}
.phone-number {
  color: #000;
  display: flex;
  align-items: center;
  transition: 0.1s;
}
.phone-number:hover {
  color: #0066b7;
}
.phone-icon {
  fill: #0066b3;
  margin-right: 18px;
}
.social-web {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.about {
  width: 334px;
  text-transform: uppercase;
  color: #005caa;
  font-weight: 700;
  line-height: 19px;
  font-size: 16px;
  margin-top: 25px;
}
.offer {
  margin-top: 42px;
}
.offer__title {
  width: 615px;
  font-size: 62px;
  line-height: 73px;
  text-transform: uppercase;
}
.offer__title-different {
  color: #005caa;
}
.offer__subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #6f6f6f;
  font-style: italic;
  margin-top: 22px;
}
.offer__button-wrap {
  margin-top: 32px;
  display: inline-block;
  margin-bottom: 41px;
}
.offer__btn {
  color: #0066b7;
  background: #fff;
  margin-bottom: 24px;
  text-align: center;
  padding: 20px;
  transition: 0.1s;
}
.offer__btn:last-child {
  margin-bottom: 0;
}
.offer__btn:hover {
  color: #fff;
  background: #0066b7;
}
.buy-button,
.more-btn {
  color: #fff;
  background: #0066b7;
  transition: 0.1s;
}
.buy-button:hover,
.more-btn:hover {
  background: #01599f;
}
.offer__postscript {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6f6f6f;
}
/* Advantages */

#advantages {
  padding-top: 100px;
  padding-bottom: 50px;
}
.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.advantages__image-wrap {
  position: relative;
  max-height: 80px;
  height: 100%;
}
.advantages__image-wrap::after {
  content: "";
  position: absolute;
  width: 270px;
  height: 1px;
  background-color: #c4c4c4;
  bottom: -25%;
  left: 0;
}
.advantages__items-list {
  margin-left: 14px;
  margin-top: 44px;
}
.advantages__items-enum {
  font-weight: 500;
  line-height: 21px;
  position: relative;
  margin-bottom: 7px;
}
.advantages__items-enum:last-child {
  margin-bottom: 0;
}
.advantages__items-enum::before {
  content: "\2022";
  position: absolute;
  left: -5%;
  color: #005aab;
}
/* Tonometers */
#tonometers {
  padding: 50px 0;
}
.tonometers__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tonometers__title-block {
  margin-right: 20px;
}
.tonometers__title {
  font-weight: bold;
}
.tonometers__subtitle {
  width: 313px;
  margin-top: 30px;
}

.tonometers__list {
  display: flex;
}
.tonometers__item {
  padding: 34px 27px;
  background: #e5e5e5;
  border-radius: 50px;
  text-align: center;
  margin-right: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tonometers__item:last-child {
  margin-right: 0;
}
.tonometers__image {
  max-height: 134px;
  height: 100%;
}
.tonometers__about {
  padding-bottom: 38px;
}
.tonometers__btn {
  padding: 20px;
}
/* Opportunities */
#opportunities {
  padding: 50px 0 100px 0;
}
.opportunities__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.opportunities__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.opportunities__img {
  margin-right: 50px;
}
.opportunities__text {
  width: 474px;
}
/* Comparison */
#comparison {
  padding: 100px 0;
  background: #e4e4e4;
}
.comparison__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comparison__title {
  width: 340px;
}
.comparison__item {
  background: #fff;
  padding: 34px 27px;
  border-radius: 50px;
  text-align: center;
  margin-right: 30px;
  font-weight: 400;
  min-height: 283px;
  height: 100%;
}
.comparison__item_last {
  margin-right: 0;
}
/* Style the table */
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/* Style table headers and table data */
th,
.table__cell {
  text-align: center;
  padding: 10px 0;
}
.table__cell {
  line-height: 21px;
}
th:first-child,
td:first-child {
  text-align: left;
}
.table__row {
  position: relative;
}
.table__row::before {
  content: "";
  position: absolute;
  width: 100%;
  background: #fff;
  height: 2px;
}
.table__row_first:before,
.table__row_second:before {
  content: "";
  width: 0;
  height: 0;
}
.fw {
  font-weight: bold;
  text-align: -webkit-center;
}
.comparison__buttons {
  text-align: right;
  margin-right: 50px;
  margin-top: 50px;
}
.comparison__btn {
  display: flex;
  align-items: center;
}
.more-btn {
  padding: 22px 78px;
  display: inline-flex;
}
.comparison__btn_first {
  margin-right: 120px;
}
.arrows {
  margin-left: 10px;
}
/* Manual */
#manual {
  padding: 50px 0;
}
.manual__title {
  text-align: center;
}
.crossing__list {
  margin-top: 30px;
  position: relative;
}
.crossing__item {
  display: flex;
  margin-bottom: 30px;
}
.crossing__img-wrap {
  background: #0063b1;
  border-radius: 50%;
  margin-right: 20px;
  min-width: 50px;
  height: 50px;
  position: relative;
}
.retreat {
  margin-top: 17px;
}
.crossing__text {
  position: relative;
}
.crossing__img-wrap:before {
  content: "";
  position: absolute;
  background-image: url(../img/check-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 22px;
  padding: 14px 10px;
  top: 50%;
  left: 50%;
}

#crossing .crossing__list .crossing__item:nth-child(n + 5) {
  display: none;
}

#crossing.expand .crossing__list .crossing__item:nth-child(n + 5) {
  display: flex;
}
.expand #arrows-up {
  transform: rotate(0deg);
}

#control {
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #c4c4c4;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  width: fit-content;
  transition: 0.1s ease;
}

.crossing__list::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #c4c4c4;
  left: 0;
  bottom: -15px;
}
#arrows-up {
  margin-left: 10px;
  fill: #c4c4c4;
  transform: rotate(180deg);
  transition: transform 0.4s ease;
}
#control:hover {
  color: #979595;
}
#control:hover #arrows-up {
  fill: #979595;
}
/* Video */
#video {
  padding: 50px 0;
}
.video-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.video-wrapper__title {
  margin-bottom: 22px;
}
.video-wrapper__img {
  width: 100%;
}

.video-wrapper__video-clip {
  position: relative;
}

.video-wrapper__play {
  position: absolute;
  background: #000;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-wrapper__play::before {
  content: "";
  position: absolute;
  background-image: url(../img/play.svg);
  background-repeat: no-repeat;
  width: 21px;
  height: 23px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Description */
#description {
  padding: 50px 0;
}
.description__block {
  text-align: center;
  background: #0066b7;
  border-radius: 60px;
  padding: 50px 55px;
  color: #fff;
}
.description__main {
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 27px;
}
.description__button {
  border: 1px solid #fff;
  color: #0066b7;
  background-color: #fff;
  padding: 20px 62px;
  display: inline-block;
  transition: 0.1s;
}
.description__button:hover {
  color: #fff;
  background-color: #0066b7;
}
.description__text_down {
  margin: 30px 0 25px;
}
.description__text-meaning {
  font-size: 14px;
}
/* Location */
#location {
  padding: 50px 0;
}
.location__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.location__item {
  background: #e5e5e5;
  border-radius: 31px;
  text-align: center;
  padding: 30px 15px;
}
.location__about {
  width: 310px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.location__store-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 12px 0;
}
.location__store-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
}

.location__product-price {
  font-weight: bold;
}
.location__btn {
  padding: 10px 47px;
  width: fit-content;
}
#location .location__list th:first-child,
#location .location__list td:first-child {
  text-align: center;
}
/* Reviews */
#reviews {
  position: relative;
  padding: 50px 0;
}
.reviews__title {
  text-align: center;
  margin-bottom: 64px;
}
.swiper {
  width: 100%;
  height: auto;
}
.swiper-inner-btn {
  position: absolute;
  top: calc(50% + 33px);
  width: 1315px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 15px;
  z-index: 10;
}
.swiper-slide {
  background: #e5e5e5;
  border-radius: 31px;
  text-align: center;
  padding: 67px 36px;
  height: auto;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  pointer-events: auto;
  background: none;
  box-shadow: none;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}
.swiper-button-next,
.swiper-button-prev {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: #0066b7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.reviews__photo {
  margin-bottom: 15px;
}
.rating-mini {
  display: inline-flex;
  font-size: 0;
  margin-bottom: 20px;
}
.rating-mini span {
  padding: 0;
  font-size: 20px;
  line-height: 1;
  color: lightgrey;
}
.rating-mini > span:before {
  content: "★";
  margin-right: 15px;
}
.rating-mini > span.active {
  font-size: 25px;
  color: #da8f2e;
}
/* Form */
.form__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.form__title {
  margin-bottom: 50px;
}
.form__input {
  color: #000;
  width: 100%;
  display: block;
  padding: 6px;
  position: relative;
  border-bottom: 1px solid #000;
  margin-bottom: 50px;
}
.form__input_third {
  margin-bottom: 115px;
}
.form__btn {
  color: #fff;
  background: #0066b7;
  padding: 20px 55px;
  transition: 0.1s;
}
.form__btn:hover {
  background: #01599f;
}
#map {
  position: relative;
}
.map__title {
  position: relative;
}
.map__title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: url(../img/cross.svg);
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  cursor: pointer;
}
.map__contacts {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 24px;
}
.map__info {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}
.map__info:last-child {
  margin: 0;
}
.map__info-text {
  margin-left: 10px;
}
/* Footer */

#footer {
  padding: 64px 0 40px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 30px;
}
.footer:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  bottom: 0;
}
.footer__copyright {
  color: #414141;
}
.footer__privacy {
  padding-top: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #6f6f6f;
}
.footer__warning {
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 30px;
  color: #c4c4c4;
}
/* Index2.html */
.header-2 {
  background-image: url(../img/header-bg2.jpg);
  position: relative;
}
.header-2::before {
  content: "";
  position: absolute;
  background-image: url(../img/header-packaging1.png);
  width: 412px;
  height: 412px;
  background-repeat: no-repeat;
  top: 50%;
  left: 45%;
}
.offer__postscript-2 {
  color: #fff;
}

.location__list-2 {
  grid-template-columns: 1fr 1fr 1fr;
}
/* Index3.html */
.header-3 {
  background-image: url(../img/bg-3.jpg);
  padding-top: 46px;
}

.offer__postscript-3 {
  color: #000;
}
.opportunities__product-3 {
  background: #e5e5e5;
  border-radius: 50px;
  padding: 84px 32px;
  text-align: center;
}
.opportunities__product-text {
  width: 240px;
  margin: 0 auto;
}

.opportunities__btn {
  margin-top: 35px;
  padding: 20px 78px;
  display: inline-block;
}
.equipment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 124px;
}
.equipment .comparison__title-block {
  margin-bottom: 30px;
}
.location__product-name {
  width: 240px;
  margin: 0 auto;
}
.location__list-3 {
  display: block;
}
.location__item-3 {
  background-color: transparent;
  padding: 0;
}
.location__item-3 .table__row::before {
  background: #e5e5e5;
}
.location__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 22px;
}
.location__img-block {
  background: #e5e5e5;
  border-radius: 50px;
  padding: 50px 122px 38px;
  text-align: center;
}
.location__btn-more {
  padding-top: 24px;
}
